html {
  position: absolute!important;
  width: 100%;
  height: 200%!important;
  bottom: auto!important;
  background: #000;
  font-family: Arial, sans-serif;
  color: #bbb;
}
body {
  overflow-y: scroll!important;
}
a-scene {
  position: fixed!important;
}
hr {
  border-width: 0;
  border-top: 2px solid #f60;
}
a, a:visited {
  color: #f60;
  transition: color 0.3s;
  outline: none!important; /* Firefox */
}
a:hover {
  color: #fa0;
}

.bwv-header {
  position: absolute;
  z-index: 999;
  left: 8px;
  right: 8px;
}
